<h1 class="center pad-25-bottom">Home Services</h1>

<hr>

<div class="container">
  <div class="row">
    <div class="col-sm pad-25-bottom pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/homeservices/homecleaning" %>" class="btn button-service">
          <%= image_tag "home_cleaning", {size: "110" } %>
          <h2>Home Cleaning</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-grouppad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/landscaping" %>" class="btn button-service">
          <%= image_tag "landscaping", {size: "110" } %>
          <h2>Landscaping</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group pad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/handyman" %>" class="btn button-service">
          <%= image_tag "handyman", {size: "110" } %>
          <h2>Handyman</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group pad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/damagerestoration" %>" class="btn button-service">
          <%= image_tag "damage_restoration" , {size: "110" } %>
          <h2>Damage Restoration</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group pad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/locksmiths" %>" class="btn button-service">
          <%= image_tag "locksmiths" , {size: "110" } %>
          <h2>Locksmiths</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group pad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/painters" %>" class="btn button-service">
          <%= image_tag "painters" , {size: "110" } %>
          <h2>Painters</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group pad-25-bottom pad-25-top pad-25-right">
        <a href="<%= "/#{params[:location]}/homeservices/plumbing" %>" class="btn button-service">
          <%= image_tag "plumbing" , {size: "110" } %>
          <h2>Plumbing</h2>
        </a>
      </div>
    </div>
  </div>
</div>
