<h1><%= params[:services].capitalize %></h1>

- <%= link_to 'Electricity', "/#{params[:location]}/utilities/electricity" %>
- <%= link_to 'Internet Service Providers', "/#{params[:location]}/utilities/isps" %>
- <%= link_to 'Water Providers', "/#{params[:location]}/utilities/water" %>
- <%= link_to 'Cable/Satellite Providers', "/#{params[:location]}/utilities/tv" %>
