<h1 class="center pad-25-bottom">Recreation</h1>

<hr>
<center>
<div class="container">
  <div class="row">
    <div class="col-sm pad-25-bottom pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/gyms" %>" class="btn button-service">
          <%= image_tag "gym", {size: "110" } %>
          <h2>Gyms</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/yoga" %>" class="btn button-service">
          <%= image_tag "yoga", {size: "110" } %>
          <h2>Yoga</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/parks" %>" class="btn button-service">
          <%= image_tag "park", {size: "110" } %>
          <h2>Parks</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/hiking" %>" class="btn button-service">
          <%= image_tag "hiking" , {size: "110" } %>
          <h2>Hiking Trails</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/recreation" %>" class="btn button-service">
          <%= image_tag "basketball-ball" , {size: "110" } %>
          <h2>Recreation</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/pools" %>" class="btn button-service">
          <%= image_tag "pools" , {size: "110" } %>
          <h2>Pools</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/golf" %>" class="btn button-service">
          <%= image_tag "golf" , {size: "110" } %>
          <h2>Golf</h2>
        </a>
      </div>
    </div>
    <div class="col-sm pad-25-top pad-25-right">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/recreation/playgrounds" %>" class="btn button-service">
          <%= image_tag "playgrounds" , {size: "110" } %>
          <h2>Playgrounds</h2>
        </a>
      </div>
    </div>
  </div>
</div>
</center>
