<h1 class="center pad-25-bottom">Utilities</h1>

<hr>
<center>
<div class="container pad-25-top">
  <div class="row">
    <div class="col-sm pad-25-bottom">
      <div class="btn-group2">
        <a href="<%= "/#{params[:location]}/utilities/electricity" %>" class="btn button-service">
          <%= image_tag "electricity" ,{size: "110" } %>
          <h2>Electricity</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/utilities/isps" %>" class="btn button-service">
          <%= image_tag "isps" , {size: "110" } %>
          <h2>Internet Providers</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/utilities/water" %>" class="btn button-service">
          <%= image_tag "water" , {size: "110" } %>
          <h2>Water</h2>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <a href="<%= "/#{params[:location]}/utilities/tv" %>" class="btn button-service">
          <%= image_tag "cable-tv" , {size: "110" } %>
          <h2>Cable/Satellite</h2>
        </a>
      </div>
    </div>
  </div>
</div>
</center>
