<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-7 pad-25-top pad-25-bottom">
      <h1 class="align-top">Services Search</h1>
    </div>
    <div class="col-md-5 pad-30-top">
      <div class="location-search float-right">
        <%= form_with  url: '/address', method: :get, local: true do |f| %>
           <%= f.text_field :location, placeholder: 'Enter Zipcode', min: 10000, max: 99950  %>
          <%= f.submit 'Search Location', class: "btn orange" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-12 pad-25-top center">
      <h1 class="align-top">Favorites</h1>
    </div>
  </div>
</div>

<section class="movie-details">
  <div class="container">
    <div class="row justify-content-md-right">
      <div class="col col-md-4">
        <strong>Business:</strong><br>
        
        <% @favorites.each do |fav| %>
          <%= link_to "#{fav.business_name}", "/#{current_user.id}/favorites/#{fav.yelp_business_id}"  %><br>
          <%= link_to "Delete From Favorites", "/#{current_user.id}/favorites/#{fav.yelp_business_id}", method: :delete %><br><br>
        <% end %>

      </div>
      <div class="col col-md-4">
        <strong>URL:</strong>

      </div>

    </div>
  </div>
