<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-7 pad-25-top">
      <h1 class="align-top">Services Search</h1><br>
      <% if @facade %>
        <h3> Current Zipcode: <%= @location %> </h3>
      <% else %>
        <h3> Current Zipcode: None Saved </h3>
      <% end %>
    </div>
    <div class="col-md-5 pad-30-top">
      <div class="location-search float-right">
        <% if !@facade %>
          <%= form_with  url: '/location', method: :post, local: true do |f| %>
            <%= f.text_field :location, placeholder: 'Save Your New Zipcode', min: 10000, max: 99950  %>
            <%= f.submit 'Save Location', class: "btn orange" %>
          <% end %>
        <% else %>
          <%= form_with  url: '/address', method: :get, local: true do |f| %>
            <%= f.text_field :location, placeholder: 'Search Any Zipcode', min: 10000, max: 99950  %>
            <%= f.submit 'Search Location', class: "btn orange" %>
          <% end %>

          <%= button_to 'Search With Saved Zipcode', address_path(@location), method: :get %>
          
           <%= form_with  url: '/location', method: :patch, local: true do |f| %>
            <%= f.text_field :location, placeholder: 'Update Your Zipcode', min: 10000, max: 99950  %>
            <%= f.submit 'Update Zipcode', class: "btn orange" %>
          <% end %>

           <%= button_to 'Delete Saved Zipcode', '/location', method: :delete %> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-8 pad-25-top">
      <h1 class="align-top">Saved Searches</h1>
    </div>
  </div>
</div>
<section class="movie-details">
  <div class="container">
    <div class="row justify-content-md-right">
      <div class="col col-md-4">
        <strong>Business:</strong>

      </div>
      <div class="col col-md-4">
        <strong>URL:</strong>

      </div>
    </div>
  </div>
</section>
