<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-7 pad-25-top pad-25-bottom">
      <h1 class="align-top">Services Search</h1>
    </div>
    <div class="col-md-5 pad-30-top">
      <div class="location-search float-right">
        <%= form_with  url: '/address', method: :get, local: true do |f| %>
           <%= f.text_field :location, placeholder: 'Enter Zipcode', min: 10000, max: 99950  %>
          <%= f.submit 'Search Location', class: "btn orange" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-12 pad-25-top center">
      <h1 class="align-top">Favorites</h1>
    </div>
  </div>
</div>

<% if @favorites.empty? %>
  <h4 class="center pad-100-top">You have no favorites.</h4>
  <% else %>
    <div class="container pad-100-top">
      <div class="row">
        <% @favorites.each do |fav| %>
          <div class="favorites-info card pad-25-top gutter10">
            <div class="team-image pad-25-top">
              <div class="card-title name center pad-25-bottom">
                <div class='business'>
                  <%= link_to "#{fav.business_name}" , "/#{current_user.id}/favorites/#{fav.yelp_business_id}" %><br>
                  <%= link_to image_tag("delete", class: "delete"), "/#{current_user.id}/favorites/#{fav.yelp_business_id}" , method: :delete %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
    <% end %>


