<h1 class="center pad-25-top pad-25-bottom"><%= @name %></h1>
<hr>
<div class="container pad-100-top">
  <div class="biz-info">
    <%= image_tag("relocate.png") %><%= link_to "See #{@name} on Yelp", @url %>
    <%= image_tag("relocate.png") %><%= @location %>
    <%= image_tag("relocate.png") %><%= @phone %>
    <%= image_tag("relocate.png") %><%= @distance.round(2) %> miles away</p>
  </div>
</div>