<h1 class="center pad-25-top pad-25-bottom"><%= @name %></h1>
<hr>
<div class="container pad-100-top">
  <div class="biz-info">
    <p class="pad-25-bottom"><%= link_to "See #{@name} on Yelp", @url %></p>
    <p class="pad-25-bottom"><%= image_tag "address", {size: "50" } %> <%= @location %></p>
    <p class="pad-25-bottom"><%= image_tag "mobile-phone", {size: "50" } %> <%= @phone %></p>
    <p class="pad-25-bottom"><%= image_tag "distance", {size: "50" } %> <%= @distance.round(2) %> miles away</p>
    <div class="pad-50-top txt-show">
      <%= link_to image_tag("heart", class: "like-img-show"), "/#{current_user.id}/favorites?yelp_business_id=#{@id}&business_name=#{@name}", method: :post %> Favorite this business
    </div>
  </div>
</div>
