<h1><%= @business.name %></h1>

<ul class="biz-info">
  <p class="image"><%= image_tag(@business.image) %><br></p>
  <li><%= @business.name %></li>
  <li><%= link_to "See #{@business.name} on Yelp", @business.url %></li>
  <li><%= @business.location %></li>
  <li><%= @business.phone %></li>
  <li><%= @business.distance.round(2) %> miles away</li>
</ul>