<h1 class="center pad-25-top pad-25-bottom">Events</h1>
<hr>
<% if @events.empty? %>
	<h3 class="center pad-100-top">Sorry, we didn't find anything.</h3>
<% else %>
<div class="container">
	<div class="row pad-25-top">
		<% @events.each do |event| %>
		  <div class="card-body events-info gutter10">
		    <h3 class="card-title pad-25-top pad-25-bottom"> <%= event.name %></h3>
				<hr>
		    <p class="card-text pad-25-top"><strong>Location:</strong> <%= event.location %></p>
		    <p class="card-text"><strong>Date:</strong> <%= event.readable_date %></p>
		    <p class="card-text"><strong>Time:</strong> <%= event.readable_time %></p>
		    <p class="card-text"><%= "FREE EVENT" if event.is_free == true %></p>
		    <p class="card-text"><%= "See website for ticket prices" if event.is_free == false %></p>
		    <p class="card-text"><strong>Attending:</strong> <%= event.attending_count %></p>
		    <p class="card-text"><strong>Interested:</strong> <%= event.interested_count%></p>

		    <p class="card-link"> <%= link_to "Event Website", event.url, class: "a-primary" %></p>
		  </div>
		<% end %>
	</div>
</div>
<% end %>
