<h1 class="center pad-25-bottom">Service Categories</h1>
<hr>
<center class="pad-100-top">
  <div class="btn-group pad-25-right pad-25-bottom">
    <a href="<%= "/#{@location}/utilities" %>" class="btn button-service">
      <%= image_tag "utilities" , {size: "110" } %>
        <h2>Utilities</h2>
    </a>
  </div>

  <div class="btn-group pad-25-right pad-25-bottom">
    <a href="<%= "/#{@location}/recreation" %>" class="btn button-service">
      <%= image_tag "recreation" , {size: "110" } %>
        <h2>Recreation</h2>
    </a>
  </div>

  <div class="btn-group pad-25-bottom">
    <a href="<%= "/#{@location}/homeservices" %>" class="btn button-service">
      <%= image_tag "house" , {size: "110" } %>
        <h2>Home Services</h2>
    </a>
  </div>
</center>
