<h1 class='center'>Service Categories</h1>

<hr>

<div class="btn-group">
  <a href="<%= " /#{params[:location]}/Utilities" %>" class="btn button-service">
    <%= image_tag "utilities" , {size: "110" }  %>
    <h2>Utilities</h2>
  </a>
</div>
<div class="btn-group">
  <a href="<%= " /#{params[:location]}/recreation" %>" class="btn button-service">
    <%= image_tag "bike-path" , {size: "110" }  %>
    <h2>Recreation</h2>
  </a>
</div>
<div class="btn-group">
  <a href="<%= " /#{params[:location]}/homeservices" %>" class="btn button-service">
    <%= image_tag "house" , {size: "110" }  %>
    <h2>Home Services</h2>
  </a>
</div>
